{%
    set classes = [
    'region',
    'region-' ~ region|clean_class,
]
%}
{% if content %}
    <div{{ attributes.addClass(classes) }}>
        <div class="on-header">
            <div class="on-header__left">
                <span></span>04 68 66 99 99
            </div>
            <div class="on-header__right">
                <span class="logo_fb"></span>
                <span class="logo_tw"></span>
            </div>
        </div>
        <div class="sub-header">
            {{ content }}
        </div>
    </div>
{% endif %}