<a href="{{ url }}">
  <article class="card" id="node-{{ node.id }}" {{ attributes }}>

    {{ title_prefix }}
    {% if not page %}
      <div class="class-divider">
        <h2{{ title_attributes }}>
          {{ label }}
        </h2>
      </div>
    {% endif %}
    {{ title_suffix }}

    <div class="card-section">
      {# We hide the comments and links now so that we can render them later. #}
      <div{{ content_attributes }}>
        {{ content|without('comment', 'links', 'field_tags') }}
      </div>
    </div>

    {% if content.field_tags|length and not is_front %}
      {{ content.field_tags }}
    {% endif %}

  </article>
</a>

